.sliderlens {
  height: 15vh;
  margin-left: 3em;
}

.sliderlens.fixed {
  width: 20%;
}

.sliderlens.vert {
  width: 20vh;
  height: 30vh;
}
.sliderlens.fixed.vert {

}


.v {
  display: inline-block;
  width: 10vh;
}


.sliderlens .handle,
.sliderlens .handle1,
.sliderlens .handle2 {
  background-color: #aaa;
  box-shadow: 0 0 2px black;
}

.sliderlens,
.sliderlens span {
  background-color: #ddd;
}

/* handle shadow */
.sliderlens-vert-handle,
.sliderlens-horiz-handle,
.sliderlens-horiz-handle1,
.sliderlens-horiz-handle2,
.sliderlens-vert-handle1,
.sliderlens-vert-handle2 { 
    -moz-box-shadow: 0 0 2px black; 
    -webkit-box-shadow: 0 0 2px black; 
    box-shadow: 0 0 2px black;

}
/* shadow when handle is being pushed down */
.sliderlens-horiz-handle.sliderlens-mouse-down,
.sliderlens-horiz-handle1.sliderlens-mouse-down,
.sliderlens-horiz-handle2.sliderlens-mouse-down,
.sliderlens-vert-handle.sliderlens-mouse-down,
.sliderlens-vert-handle1.sliderlens-mouse-down,
.sliderlens-vert-handle2.sliderlens-mouse-down,
div:focus .sliderlens-horiz-handle.sliderlens-mouse-down,
div:focus .sliderlens-horiz-handle1.sliderlens-mouse-down,
div:focus .sliderlens-horiz-handle2.sliderlens-mouse-down,
div:focus .sliderlens-vert-handle.sliderlens-mouse-down,
div:focus .sliderlens-vert-handle1.sliderlens-mouse-down,
div:focus .sliderlens-vert-handle2.sliderlens-mouse-down {
    -moz-box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.6);
    -webkit-box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.6);
    box-shadow: 0 0 1px hsla(0, 0%, 0%, 0.6);
}


/* shadow when handle is disabled */
.sliderlens-vert-handle.sliderlens-disabled,
.sliderlens-horiz-handle.sliderlens-disabled,
.sliderlens-horiz-handle1.sliderlens-disabled,
.sliderlens-horiz-handle2.sliderlens-disabled,
.sliderlens-vert-handle1.sliderlens-disabled,
.sliderlens-vert-handle2.sliderlens-disabled { 
    -moz-box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.3);
    -webkit-box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.3);
    box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.3);
}
.sliderlens-horiz-fixedhandle.sliderlens-disabled { 
    -moz-box-shadow: 5px 0 7px -4px hsla(0, 0%, 20%, 0.7), -5px 0 7px -4px hsla(0, 0%, 20%, 0.7);
    -webkit-box-shadow: 5px 0 7px -4px hsla(0, 0%, 20%, 0.7), -5px 0 7px -4px hsla(0, 0%, 20%, 0.7);
    box-shadow: 5px 0 7px -4px hsla(0, 0%, 20%, 0.7), -5px 0 7px -4px hsla(0, 0%, 20%, 0.7);
} 
.sliderlens-vert-fixedhandle.sliderlens-disabled { 
    -moz-box-shadow: 0 5px 7px -4px hsla(0, 0%, 20%, 0.7), 0 -5px 7px -4px hsla(0, 0%, 20%, 0.7);
    -webkit-box-shadow: 0 5px 7px -4px hsla(0, 0%, 20%, 0.7), 0 -5px 7px -4px hsla(0, 0%, 20%, 0.7);
    box-shadow: 0 5px 7px -4px hsla(0, 0%, 20%, 0.7), 0 -5px 7px -4px hsla(0, 0%, 20%, 0.7);
} 


/* fixed handle inner and box shadows */
.sliderlens-horiz-overflow:after,
.sliderlens-vert-overflow:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.sliderlens-horiz-overflow:after {
    top: -4px;
    bottom: -4px;
}

.sliderlens-vert-overflow:after {
    left: -4px;
    right: -4px;
}

.sliderlens-horiz-overflow:after {
    -moz-box-shadow: inset 18px 0 11px hsla(0, 0%, 8%, 0.35), inset -18px 0 11px hsla(0, 0%, 8%, 0.35), inset 8px 3px 8px hsla(0, 0%, 0%, .5), inset -8px -3px 8px hsla(0, 0%, 0%, .5);
    -webkit-box-shadow: inset 18px 0 11px hsla(0, 0%, 8%, 0.35), inset -18px 0 11px hsla(0, 0%, 8%, 0.35), inset 8px 3px 8px hsla(0, 0%, 0%, .5), inset -8px -3px 8px hsla(0, 0%, 0%, .5);
    box-shadow: inset 18px 0 11px hsla(0, 0%, 8%, 0.35), inset -18px 0 11px hsla(0, 0%, 8%, 0.35), inset 8px 3px 8px hsla(0, 0%, 0%, .5), inset -8px -3px 8px hsla(0, 0%, 0%, .5);
}
.sliderlens-vert-overflow:after {
    -moz-box-shadow: inset 0 18px 11px hsla(0, 0%, 8%, 0.35), inset 0 -18px 11px hsla(0, 0%, 8%, 0.35), inset 3px 8px 8px hsla(0, 0%, 0%, .5), inset -3px -8px 8px hsla(0, 0%, 0%, .5);
    -webkit-box-shadow: inset 0 18px 11px hsla(0, 0%, 8%, 0.35), inset 0 -18px 11px hsla(0, 0%, 8%, 0.35), inset 3px 8px 8px hsla(0, 0%, 0%, .5), inset -3px -8px 8px hsla(0, 0%, 0%, .5);
    box-shadow: inset 0 18px 11px hsla(0, 0%, 8%, 0.35), inset 0 -18px 11px hsla(0, 0%, 8%, 0.35), inset 3px 8px 8px hsla(0, 0%, 0%, .5), inset -3px -8px 8px hsla(0, 0%, 0%, .5);
}

.sliderlens-horiz-fixedhandle { 
    -moz-box-shadow: 5px 0 7px -4px black, -5px 0 7px -4px black, 0 -13px 7px -13px black, 0 13px 7px -13px black;
    -webkit-box-shadow: 5px 0 7px -4px black, -5px 0 7px -4px black, 0 -13px 7px -13px black, 0 13px 7px -13px black;
    box-shadow: 5px 0 7px -4px black, -5px 0 7px -4px black, 0 -13px 7px -13px black, 0 13px 7px -13px black;
}
.w .sliderlens-horiz-fixedhandle { 
    -moz-box-shadow: 5px 0 7px -4px hsla(0,0%,0%,.5), -5px 0 7px -4px hsla(0,0%,0%,.5), 0 -13px 7px -13px black, 0 13px 7px -13px black;
    -webkit-box-shadow: 5px 0 7px -4px hsla(0,0%,0%,.5), -5px 0 7px -4px hsla(0,0%,0%,.5), 0 -13px 7px -13px black, 0 13px 7px -13px black;
    box-shadow: 5px 0 7px -4px hsla(0,0%,0%,.5), -5px 0 7px -4px hsla(0,0%,0%,.5), 0 -13px 7px -13px black, 0 13px 7px -13px black;
}

.sliderlens-vert-fixedhandle { 
    -moz-box-shadow: 0 5px 7px -4px black, 0 -5px 7px -4px black, -13px 0 7px -13px black, 13px 0 7px -13px black;;
    -webkit-box-shadow: 0 5px 7px -4px black, 0 -5px 7px -4px black, -13px 0 7px -13px black, 13px 0 7px -13px black;
    box-shadow: 0 5px 7px -4px black, 0 -5px 7px -4px black, -13px 0 7px -13px black, 13px 0 7px -13px black;
}
.w .sliderlens-vert-fixedhandle { 
    -moz-box-shadow: 0 5px 7px -4px hsla(0,0%,0%,.5), 0 -5px 7px -4px hsla(0,0%,0%,.5), -13px 0 7px -13px black, 13px 0 7px -13px black;
    -webkit-box-shadow: 0 5px 7px -4px hsla(0,0%,0%,.5), 0 -5px 7px -4px hsla(0,0%,0%,.5), -13px 0 7px -13px black, 13px 0 7px -13px black;
    box-shadow: 0 5px 7px -4px hsla(0,0%,0%,.5), 0 -5px 7px -4px hsla(0,0%,0%,.5), -13px 0 7px -13px black, 13px 0 7px -13px black;
}

/* mouse cursor */
.sliderlens-horiz,
.sliderlens-vert { cursor: pointer; }
.sliderlens-horiz-handle,
.sliderlens-horiz-handle1,
.sliderlens-horiz-handle2,
.sliderlens-horiz-fixedhandle,
.sliderlens-horiz-overflow { cursor: e-resize; }
.sliderlens-vert-handle,
.sliderlens-vert-handle1,
.sliderlens-vert-handle2,
.sliderlens-vert-fixedhandle,
.sliderlens-vert-overflow { cursor: n-resize; }
.sliderlens-rangeH.drag { cursor: e-resize; }
.sliderlens-rangeV.drag { cursor: n-resize; }
.sliderlens-disabled.drag,
.sliderlens-disabled { cursor: default; }

/* mouse cursor when handle is being dragged */
div.sliderlens-horiz-handle.sliderlens-mouse-down,
div.sliderlens-horiz-handle1.sliderlens-mouse-down,
div.sliderlens-horiz-handle2.sliderlens-mouse-down,
div.sliderlens-vert-handle.sliderlens-mouse-down,
div.sliderlens-vert-handle1.sliderlens-mouse-down,
div.sliderlens-vert-handle2.sliderlens-mouse-down,
div.sliderlens-horiz-overflow.sliderlens-mouse-down,
div.sliderlens-vert-overflow.sliderlens-mouse-down,
div.sliderlens-horiz-fixedhandle.sliderlens-mouse-down,
div.sliderlens-vert-fixedhandle.sliderlens-mouse-down { cursor: none; }

/* rounded horizontal handle pointing northbound */
.sliderlens-horiz-fixedhandle.round,
.sliderlens-vert-fixedhandle.round {
    border-radius: 3px;
}

/*
    /\
   /  \
  /    \
  |    |
  |____|  horizontal handle pointing northbound */
.sliderlens-horiz-handle.round.flare:after,
.sliderlens-horiz-handle.round {
    border-radius: 3px;
    border-top-left-radius: 80% 45%;
    border-top-right-radius: 80% 45%;
}
/* 
    /|
   / |
  /  |
  |  |
  |__|  horizontal handle pointing northbound, for the leftmost handle in double sliders */
.sliderlens-horiz-handle1.round.flare:after,
.sliderlens-horiz-handle1.round {
    border-radius: 3px;
    border-top-left-radius: 80% 45%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*
  |\
  | \
  |  \
  |  |
  |__|  horizontal handle pointing northbound, for the rightmost handle in double sliders */
.sliderlens-horiz-handle2.round.flare:after,
.sliderlens-horiz-handle2.round {
    border-radius: 3px;
    border-top-right-radius: 80% 45%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* ____
  |    |
  |    |
  \    /
   \  /
    \/    horizontal handle pointing southbound */
.sliderlens-horiz-handle.round.S.flare:after,
.sliderlens-horiz-handle.round.S {
    border-radius: 3px;
    border-bottom-left-radius: 80% 45%;
    border-bottom-right-radius: 80% 45%;
}
/* __
  |  |
  |  |
  \  |
   \ |
    \|  horizontal handle pointing southbound, for the leftmost handle in double sliders */
.sliderlens-horiz-handle1.round.S.flare:after,
.sliderlens-horiz-handle1.round.S {
    border-radius: 3px;
    border-bottom-left-radius: 80% 45%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
/* __
  |  |
  |  |
  |  /
  | /
  |/    horizontal handle pointing southbound, for the rightmost handle in double sliders */
.sliderlens-horiz-handle2.round.S.flare:after,
.sliderlens-horiz-handle2.round.S {
    border-radius: 3px;
    border-bottom-right-radius: 80% 45%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*  ________
   /        |
  /         |
  \         |
   \________|  vertical handle pointing westbound */
.sliderlens-vert-handle.round.flare:after,
.sliderlens-vert-handle.round {
    border-radius: 3px;
    border-top-left-radius: 45% 80%;
    border-bottom-left-radius: 45% 80%;
}
/*  ________
   /        |
  /_________|  vertical handle pointing westbound, for the topmost handle in double sliders */
.sliderlens-vert-handle1.round.flare:after,
.sliderlens-vert-handle1.round {
    border-radius: 3px;
    border-top-left-radius: 45% 80%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/*__________
  \         |
   \________|  vertical handle pointing westbound, for the bottommost handle in double sliders */
.sliderlens-vert-handle2.round.flare:after,
.sliderlens-vert-handle2.round {
    border-radius: 3px;
    border-bottom-left-radius: 45% 80%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* ________
  |        \
  |         \
  |         /
  |________/   vertical handle pointing eastbound */
.sliderlens-vert-handle.round.E.flare:after,
.sliderlens-vert-handle.round.E {
    border-radius: 3px;
    border-top-right-radius: 45% 80%;
    border-bottom-right-radius: 45% 80%;
}
/* ________
  |        \
  |_________\  vertical handle pointing eastbound, for the topmost handle in double sliders */
.sliderlens-vert-handle1.round.E.flare:after,
.sliderlens-vert-handle1.round.E {
    border-radius: 3px;
    border-top-right-radius: 45% 80%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/* __________
  |         /
  |________/   vertical handle pointing eastbound, for the bottommost handle in double sliders */
.sliderlens-vert-handle2.round.E.flare:after,
.sliderlens-vert-handle2.round.E {
    border-radius: 3px;
    border-bottom-right-radius: 45% 80%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* indicator line inside the lens */
.sliderlens-horiz-fixedhandle.linemark:before,
.sliderlens-vert-fixedhandle.linemark:before,
.sliderlens-horiz-handle.linemark:before,
.sliderlens-horiz-handle1.linemark:before,
.sliderlens-horiz-handle2.linemark:before,
.sliderlens-vert-handle.linemark:before,
.sliderlens-vert-handle1.linemark:before,
.sliderlens-vert-handle2.linemark:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.sliderlens-horiz-fixedhandle.linemark:before,
.sliderlens-horiz-handle.linemark:before,
.sliderlens-horiz-handle1.linemark:before,
.sliderlens-horiz-handle2.linemark:before {
    left: 50%;
    border-left: 1px hsl(0, 50%, 70%) solid;
}
.sliderlens-horiz-handle1.linemark:before { 
    border-right: 1px hsl(0, 50%, 70%) solid;
    border-left: none;
}
.sliderlens-horiz-handle2.linemark:before { 
    left: 0;
}
.sliderlens-horiz-fixedhandle.linemark:before,
.sliderlens-horiz-handle.linemark:before,
.sliderlens-horiz-handle1.linemark:before,
.sliderlens-horiz-handle2.linemark:before {
    top: 2px;
    bottom: 30%;
}
.sliderlens-horiz-fixedhandle.S.linemark:before,
.sliderlens-horiz-handle.S.linemark:before,
.sliderlens-horiz-handle1.S.linemark:before,
.sliderlens-horiz-handle2.S.linemark:before {
    top: 30%;
    bottom: 2px;
}
.sliderlens-vert-fixedhandle.linemark:before,
.sliderlens-vert-handle.linemark:before,
.sliderlens-vert-handle1.linemark:before,
.sliderlens-vert-handle2.linemark:before {
    bottom: 50%;
    border-bottom: 1px hsl(0, 50%, 70%) solid;
}
.sliderlens-vert-handle1.linemark:before {
    bottom: 0;
}
.sliderlens-vert-handle2.linemark:before {
    border-top: 1px hsl(0, 50%, 70%) solid;
    border-bottom: none;
}
.sliderlens-vert-fixedhandle.linemark:before,
.sliderlens-vert-handle.linemark:before,
.sliderlens-vert-handle1.linemark:before,
.sliderlens-vert-handle2.linemark:before {
    left: 2px;
    right: 30%;
}
.sliderlens-vert-fixedhandle.E.linemark:before,
.sliderlens-vert-handle.E.linemark:before,
.sliderlens-vert-handle1.E.linemark:before,
.sliderlens-vert-handle2.E.linemark:before {
    left: 30%;
    right: 2px;
}


/* range */
.sliderlens-range {
    background-color: hsla(240, 30%, 45%, 0.9);
    width: 2px;  /* width is required for ranges in vertical sliders. For horizontal sliders, the range width is calculated. */
    height: 2px; /* height is required for ranges in horizonal sliders. For vertical sliders, the range height is calculated */
}
.sliderlens-range.sliderlens-disabled {
    background-color: hsla(240, 30%, 45%, 0.4);
}
.sliderlens-rangeH {
    margin-top: 17px;
}
.w .sliderlens-rangeH {
    margin-top: 0;
    margin-bottom: 12px;
}
.w .fixed ~ .sliderlens-rangeH {
    margin-top: 17px;
    margin-bottom: 0;
}

.sliderlens-rangeV {
    margin-left: 13px;
}
.w .sliderlens-rangeV {
    margin-left: 0;
    margin-right: 13px;
}





.sliderlens-horiz-overflow,
.sliderlens-vert-overflow,
.sliderlens-horiz-fixedhandle,
.sliderlens-vert-fixedhandle, 
.sliderlens-horiz-handle,
.sliderlens-horiz-handle1,
.sliderlens-horiz-handle2,
.sliderlens-vert-handle,
.sliderlens-vert-handle1,
.sliderlens-vert-handle2 {
    background-color: hsl(0,0%,22%);
}

.sliderlens-horiz-overflow,
.sliderlens-vert-overflow {
    -moz-box-shadow: -1px -1px 1px 1px hsl(0, 0%, 18%), 1px 1px 1px 1px hsl(0, 0%, 32%), inset 0 0 7px hsla(0, 0%, 0%, 0.5);
    -webkit-box-shadow: -1px -1px 1px 1px hsl(0, 0%, 18%), 1px 1px 1px 1px hsl(0, 0%, 32%), inset 0 0 7px hsla(0, 0%, 0%, 0.5);
    box-shadow: -1px -1px 1px 1px hsl(0, 0%, 18%), 1px 1px 1px 1px hsl(0, 0%, 32%), inset 0 0 7px hsla(0, 0%, 0%, 0.5);
}

.w .sliderlens-horiz-overflow,
.w .sliderlens-vert-overflow,
.w .sliderlens-horiz-fixedhandle,
.w .sliderlens-vert-fixedhandle, 
.w .sliderlens-horiz-handle,
.w .sliderlens-horiz-handle1,
.w .sliderlens-horiz-handle2,
.w .sliderlens-vert-handle,
.w .sliderlens-vert-handle1,
.w .sliderlens-vert-handle2 {
    background-color: hsl(0,0%,87%);
}

.w .sliderlens-horiz-overflow,
.w .sliderlens-vert-overflow {
    -moz-box-shadow: 0 0 1px 2px rgba(100,100,100,.75), 0 0 1px rgb(100,100,100);
    -webkit-box-shadow: 0 0 1px 2px rgba(100,100,100,.75), 0 0 1px rgb(100,100,100);
    box-shadow: 0 0 1px 2px rgba(100,100,100,.75), 0 0 1px rgb(100,100,100);
}
/* gradient for horizontal slider */
canvas.sliderlens-horiz {
    background-image: -moz-linear-gradient(top, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* IE10+ */
    background-image: linear-gradient(to bottom, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* W3C */
}
.w canvas.sliderlens-horiz {
    background-image: -moz-linear-gradient(top, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* IE10+ */
    background-image: linear-gradient(to bottom, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* W3C */
}
.sliderlens-horiz-fixedhandle canvas,
.sliderlens-horiz-handle canvas,
.sliderlens-horiz-handle1 canvas,
.sliderlens-horiz-handle2 canvas {
    background-image: -moz-linear-gradient(top, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* W3C */
}
.w .sliderlens-horiz-fixedhandle canvas,
.w .sliderlens-horiz-handle canvas,
.w .sliderlens-horiz-handle1 canvas,
.w .sliderlens-horiz-handle2 canvas {
    background-image: -moz-linear-gradient(top, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* W3C */
}


/* gradient for vertical slider */
canvas.sliderlens-vert {
    background-image: -moz-linear-gradient(left, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* IE10+ */
    background-image: linear-gradient(to right, transparent 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, transparent 58%); /* W3C */
}
.w canvas.sliderlens-vert {
    background-image: -moz-linear-gradient(left, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* IE10+ */
    background-image: linear-gradient(to right, transparent 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, transparent 58%); /* W3C */
}
.sliderlens-vert-fixedhandle canvas,
.sliderlens-vert-handle canvas,
.sliderlens-vert-handle1 canvas,
.sliderlens-vert-handle2 canvas {
    background-image: -moz-linear-gradient(left, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* IE10+ */
    background-image: linear-gradient(to right, hsl(0,0%,22%) 40%, black 40%, black 50%, hsl(0,0%,39%) 54%, hsl(0,0%,22%) 58%); /* W3C */
}
.w .sliderlens-vert-fixedhandle canvas,
.w .sliderlens-vert-handle canvas,
.w .sliderlens-vert-handle1 canvas,
.w .sliderlens-vert-handle2 canvas {
    background-image: -moz-linear-gradient(left, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* IE10+ */
    background-image: linear-gradient(to right, hsl(0,0%,87%) 40%, hsl(0,0%,65%) 40%, hsl(0,0%,65%) 50%, hsl(0,0%,39%) 54%, hsl(0,0%,87%) 58%); /* W3C */
}

/* lens flare effect */
.sliderlens-horiz-fixedhandle.flare:after,
.sliderlens-vert-fixedhandle.flare:after,
.sliderlens-horiz-handle.flare:after,
.sliderlens-horiz-handle1.flare:after,
.sliderlens-horiz-handle2.flare:after,
.sliderlens-vert-handle.flare:after,
.sliderlens-vert-handle1.flare:after,
.sliderlens-vert-handle2.flare:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 2;
    -moz-box-shadow: inset 0 0 4px 3px hsla(0, 0%, 0%, .25);
    -webkit-box-shadow: inset 0 0 4px 3px hsla(0, 0%, 0%, .25);
    box-shadow: inset 0 0 4px 3px hsla(0, 0%, 0%, .25);
}
.w .sliderlens-horiz-handle.flare:after,
.w .sliderlens-horiz-handle1.flare:after,
.w .sliderlens-horiz-handle2.flare:after,
.w .sliderlens-vert-handle.flare:after,
.w .sliderlens-vert-handle1.flare:after,
.w .sliderlens-vert-handle2.flare:after {
    -moz-box-shadow: inset 0 0 4px 3px hsla(0, 100%, 100%, .25);
    -webkit-box-shadow: inset 0 0 4px 3px hsla(0, 100%, 100%, .25);
    box-shadow: inset 0 0 4px 3px hsla(0, 100%, 100%, .25);
}

.sliderlens-horiz-fixedhandle.flare:after {
    border-left: 1px solid hsla(0,0%,50%,.1);
    border-right: 1px solid hsla(0,0%,50%,.4);
}
.w .sliderlens-horiz-fixedhandle.flare:after {
    border-left-color: hsla(0,0%,0%,.15);
    border-right-color: hsla(0,0%,0%,.15);
    border-top: 1px solid hsla(0,0%,0%,.1);
    border-bottom: 1px solid hsla(0,0%,0%,.1);
}
.sliderlens-vert-fixedhandle.flare:after {
    border-top: 1px solid hsla(0,0%,50%,.1);
    border-bottom: 1px solid hsla(0,0%,50%,.4);
}
.w .sliderlens-vert-fixedhandle.flare:after {
    border-top-color: hsla(0,0%,0%,.35);
    border-bottom-color: hsla(0,0%,0%,.15);
    border-left: 1px solid hsla(0,0%,0%,.1);
    border-right: 1px solid hsla(0,0%,0%,.1);
}

/* disabled lens flare effect */
.sliderlens-horiz-fixedhandle.flare:after,
.sliderlens-vert-fixedhandle.flare:after,
.sliderlens-horiz-handle.sliderlens-disabled.flare:after,
.sliderlens-horiz-handle1.sliderlens-disabled.flare:after,
.sliderlens-horiz-handle2.sliderlens-disabled.flare:after,
.sliderlens-vert-handle.sliderlens-disabled.flare:after,
.sliderlens-vert-handle1.sliderlens-disabled.flare:after,
.sliderlens-vert-handle2.sliderlens-disabled.flare:after {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* light lens flare pointing north or south */
.sliderlens-horiz-fixedhandle.flare:after,
.sliderlens-horiz-handle.flare:after {
    background-image: -moz-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* IE10+ */
    background-image: linear-gradient(to right, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* W3C */
}
.w .sliderlens-horiz-fixedhandle.flare:after,
.w .sliderlens-horiz-handle.flare:after {
    background-image: -moz-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* IE10+ */
    background-image: linear-gradient(to right, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* W3C */
}
/* light lens flare pointing north or south, for the leftmost handle in double sliders */
.sliderlens-horiz-handle1.flare:after {
    background-image: -moz-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* IE10+ */
    background-image: linear-gradient(to right, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* W3C */
}
.w .sliderlens-horiz-handle1.flare:after {
    background-image: -moz-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* IE10+ */
    background-image: linear-gradient(to right, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* W3C */
}
/* light lens flare pointing north or south, for the rightmost handle in double sliders */
.sliderlens-horiz-handle2.flare:after {
    background-image: -moz-linear-gradient(left, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* IE10+ */
    background-image: linear-gradient(to right, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* W3C */
}
.w .sliderlens-horiz-handle2.flare:after {
    background-image: -moz-linear-gradient(left, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* IE10+ */
    background-image: linear-gradient(to right, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* W3C */
}
/* light lens flare pointing west or east */
.sliderlens-vert-fixedhandle.flare:after,
.sliderlens-vert-handle.flare:after {
    background-image: -moz-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 49%, hsla(0,100%,100%,.3) 50%, hsla(0,100%,100%,.15) 95%); /* W3C */
}
.w .sliderlens-vert-fixedhandle.flare:after,
.w .sliderlens-vert-handle.flare:after {
    background-image: -moz-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 49%, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* W3C */
}
/* light lens flare 2 pointing west or east, for the topmost handle in double sliders */
.sliderlens-vert-handle1.flare:after {
    background-image: -moz-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsla(0,100%,100%,.05) 0%, hsla(0,100%,100%,.1) 100%); /* W3C */
}
.w .sliderlens-vert-handle1.flare:after {
    background-image: -moz-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,.35) 100%); /* W3C */
}
/* light lens flare 2 pointing west or east, for the bottommost handle in double sliders */
.sliderlens-vert-handle2.flare:after {
    background-image: -moz-linear-gradient(top, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsla(0,100%,100%,.3) 0%, hsla(0,100%,100%,.15) 95%); /* W3C */
}
.w .sliderlens-vert-handle2.flare:after {
    background-image: -moz-linear-gradient(top, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsla(0,100%,100%,.5) 50%, hsla(0,0%,0%,.2) 95%); /* W3C */
}
.sliderlens-horiz-handle1.flare:after {
    margin-right: 0;
}
.sliderlens-horiz-handle2.flare:after {
    margin-left: 0;
}
.sliderlens-vert-handle1.flare:after {
    margin-bottom: 0;
}
.sliderlens-vert-handle2.flare:after {
    margin-top: 0;
}


