@font-face {
    font-family: 'digital_dream_fat_narrowRg';
    src: url('font_demos/segment/digitaldreamfatnarrow-webfont.eot');
    src: url('font_demos/segment/digitaldreamfatnarrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('font_demos/segment/digitaldreamfatnarrow-webfont.woff') format('woff'),
         url('font_demos/segment/digitaldreamfatnarrow-webfont.ttf') format('truetype'),
         url('font_demos/segment/digitaldreamfatnarrow-webfont.svg#digital_dream_fat_narrowRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

div.sliderlens-hover .sliderlens-horiz-handle,
div.sliderlens-hover .sliderlens-horiz-handle1,
div.sliderlens-hover .sliderlens-horiz-handle2,
div.sliderlens-hover .sliderlens-vert-handle,
div.sliderlens-hover .sliderlens-vert-handle1,
div.sliderlens-hover .sliderlens-vert-handle2  { 
    border-color: #323228;
}

/* slightly lighter range when mouse hovering on horizontal sliders */
canvas.sliderlens-horiz.sliderlens-hover,
div.sliderlens-hover .sliderlens-horiz-handle canvas,
div.sliderlens-hover .sliderlens-horiz-handle1 canvas,
div.sliderlens-hover .sliderlens-horiz-handle2 canvas {
    background-image: -moz-linear-gradient(top, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(29,29,29,1)), color-stop(40%,rgba(50,50,40,1)), color-stop(50%,rgba(50,50,40,1)), color-stop(54%,rgba(100,100,100,1)), color-stop(54%,rgba(29,29,29,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* W3C */
}

/* slightly lighter range when mouse hovering on vertical sliders */
canvas.sliderlens-vert.sliderlens-hover,
div.sliderlens-hover .sliderlens-vert-handle canvas,
div.sliderlens-hover .sliderlens-vert-handle1 canvas,
div.sliderlens-hover .sliderlens-vert-handle2 canvas {
    background-image: -moz-linear-gradient(left, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(40%,rgba(29,29,29,1)), color-stop(40%,rgba(50,50,40,1)), color-stop(50%,rgba(50,50,40,1)), color-stop(54%,rgba(100,100,100,1)), color-stop(54%,rgba(29,29,29,1))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(29,29,29,1) 40%, rgba(50,50,40,1) 40%, rgba(50,50,40,1) 50%, rgba(100,100,100,1) 54%, rgba(29,29,29,1) 54%); /* W3C */
}

/* light lens flare pointing north, with focus (gold light) */
div:focus .sliderlens-horiz-handle.flare::after,
div:focus .sliderlens-horiz-handle1.flare::after,
div:focus .sliderlens-horiz-handle2.flare::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%, rgba(241,218,54,0.16) 30%, rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, 50% top, 50% bottom, color-stop(0%,rgba(255,255,255,.9)), color-stop(12%,rgba(255,255,255,.5)), color-stop(70%,rgba(255,255,255,0))),
                      -webkit-gradient(radial, 50% 60%, 0px, 50% 60%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0)));  /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at 50% 60%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare pointing south, with focus (gold light) */
div:focus .sliderlens-horiz-handle.S.flare::after,
div:focus .sliderlens-horiz-handle1.S.flare::after,
div:focus .sliderlens-horiz-handle2.S.flare::after {
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%, rgba(241,218,54,0.16) 30%, rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, 50% bottom, 50% top, color-stop(0%,rgba(255,255,255,.9)), color-stop(12%,rgba(255,255,255,.5)), color-stop(70%,rgba(255,255,255,0))),
                      -webkit-gradient(radial, 50% 40%, 0px, 50% 40%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0)));  /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at 50% 40%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare pointing west with focus (gold light) */
div:focus .sliderlens-vert-handle.flare::after,
div:focus .sliderlens-vert-handle1.flare::after,
div:focus .sliderlens-vert-handle2.flare::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left 50%, right 50%, color-stop(0%,rgba(255,255,255,.9)), color-stop(12%,rgba(255,255,255,.5)), color-stop(70%,rgba(255,255,255,0))),
                      -webkit-gradient(radial, 60% 50%, 0px, 60% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0)));  /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at 60% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare pointing east with focus (gold light) */
div:focus .sliderlens-vert-handle.E.flare::after,
div:focus .sliderlens-vert-handle1.E.flare::after,
div:focus .sliderlens-vert-handle2.E.flare::after {
    background-image: -moz-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, right 50%, left 50%, color-stop(0%,rgba(255,255,255,.9)), color-stop(12%,rgba(255,255,255,.5)), color-stop(70%,rgba(255,255,255,0))),
                      -webkit-gradient(radial, 40% 50%, 0px, 40% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,.16)), color-stop(60%,rgba(250,241,174,0)));  /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%,rgba(254,252,234,0) 65%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%,rgba(254,252,234,0) 65%); /* IE10+ */
    background-image: linear-gradient(to left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at 40% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%,rgba(254,252,234,0) 65%); /* W3C */
}

/* light lens flare 2 pointing north with focus (gold light) */
div:focus .sliderlens-horiz-handle.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,.05)), color-stop(49%,rgba(255,255,255,.1)), color-stop(50%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 50% 60%, 0px, 50% 60%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.28) 6%,rgba(241,218,54,0.06) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 50% 60%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing south with focus (gold light) */
div:focus .sliderlens-horiz-handle.S.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,.05)), color-stop(49%,rgba(255,255,255,.1)), color-stop(50%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 50% 40%, 0px, 50% 40%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 50% 40%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}



/* light lens flare 2 pointing north with focus (gold light), for the leftmost handler in double sliders */
div:focus .sliderlens-horiz-handle1.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,.05)), color-stop(100%,rgba(255,255,255,.1))),
                      -webkit-gradient(radial, 50% 60%, 0px, 50% 60%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at 50% 60%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing south with focus (gold light), for the leftmost handler in double sliders */
div:focus .sliderlens-horiz-handle1.S.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,.05)), color-stop(100%,rgba(255,255,255,.1))),
                      -webkit-gradient(radial, 50% 40%, 0px, 50% 40%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at 50% 40%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing north with focus (gold light), for the rightmost handler in double sliders */
div:focus .sliderlens-horiz-handle2.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 50% 60%, 0px, 50% 60%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(50% 60%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 50% 60%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing south with focus (gold light), for the rightmost handler in double sliders */
div:focus .sliderlens-horiz-handle2.S.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 50% 40%, 0px, 50% 40%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(50% 40%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 50% 40%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}

/* light lens flare 2 pointing west with focus (gold light) */
div:focus .sliderlens-vert-handle.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.05)), color-stop(49%,rgba(255,255,255,.1)), color-stop(50%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 60% 50%, 0px, 60% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 60% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing east with focus (gold light) */
div:focus .sliderlens-vert-handle.E.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.05)), color-stop(49%,rgba(255,255,255,.1)), color-stop(50%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 40% 50%, 0px, 40% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 40% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing west with focus (gold light), for the topmost handler in double sliders */
div:focus .sliderlens-vert-handle1.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%, rgba(241,218,54,0.16) 30%, rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.05)), color-stop(100%,rgba(255,255,255,.1))),
                      -webkit-gradient(radial, 60% 50%, 0px, 60% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at 60% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing east with focus (gold light), for the topmost handler in double sliders */
div:focus .sliderlens-vert-handle1.E.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%, rgba(241,218,54,0.16) 30%, rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.05)), color-stop(100%,rgba(255,255,255,.1))),
                      -webkit-gradient(radial, 40% 50%, 0px, 40% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at 40% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing west with focus (gold light), for the bottommost handler in double sliders */
div:focus .sliderlens-vert-handle2.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%, rgba(241,218,54,0.16) 30%, rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 60% 50%, 0px, 60% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(60% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 60% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}
/* light lens flare 2 pointing east with focus (gold light), for the bottommost handler in double sliders */
div:focus .sliderlens-vert-handle2.E.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%, rgba(241,218,54,0.16) 30%, rgba(250,241,174,0) 60%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(95%,rgba(255,255,255,.15))),
                      -webkit-gradient(radial, 40% 50%, 0px, 40% 50%, 100%, color-stop(6%,rgba(241,218,54,0.38)), color-stop(30%,rgba(241,218,54,0.16)), color-stop(60%,rgba(250,241,174,0))); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(40% 50%, ellipse cover, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at 40% 50%, rgba(241,218,54,0.38) 6%,rgba(241,218,54,0.16) 30%,rgba(250,241,174,0) 60%); /* W3C */
}

.sliderlens-horiz-handle span {
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    color: rgba(150,141,74,.8);
    text-align: center;
    text-shadow: 0 0 11px rgba(255,255,0,.4);
    font-family: 'digital_dream_fat_narrowRg', cursive, arial;
    font-size: 0.55em;
    position: absolute;
    left: 2px;
    right: 3px;
    bottom: 4px;
    padding: 2px;
}
