@import url('rsSliderLens.css');

/*TODO: remove this #pcontent */
#pcontent {
    background-color: white;
}

.sliderlens-horiz-fixedhandle,
.sliderlens-vert-fixedhandle {
    background-color: white;
}

.sliderlens-horiz-overflow,
.sliderlens-vert-overflow {
    -moz-box-shadow: 0 0 2px 2px rgba(206,206,206,.3);
    -webkit-box-shadow: 0 0 2px 2px rgba(206,206,206,.3);
    box-shadow: 0 0 2px 2px rgba(106,106,106,.3);
}

/* gradient for horizontal slider */
canvas.sliderlens-horiz,
.sliderlens-horiz-fixedhandle canvas,
.sliderlens-horiz-handle canvas,
.sliderlens-horiz-handle1 canvas,
.sliderlens-horiz-handle2 canvas {
    background-color: white;
    background-image: -moz-linear-gradient(top, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* IE10+ */
    background-image: linear-gradient(to bottom, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* W3C */
}

/* gradient for vertical slider */
canvas.sliderlens-vert,
.sliderlens-vert-fixedhandle canvas,
.sliderlens-vert-handle canvas,
.sliderlens-vert-handle1 canvas,
.sliderlens-vert-handle2 canvas {
    background-color: white;
    background-image: -moz-linear-gradient(left, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* IE10+ */
    background-image: linear-gradient(to right, white 40%, #c8c8c8 42%, #ebebeb 43%, #ebebeb 51%, #c8c8c8 54%, white 54%); /* W3C */
}

/* lens flare effect */
.sliderlens-horiz-fixedhandle.flare::after,
.sliderlens-vert-fixedhandle.flare::after,
.sliderlens-horiz-handle.flare::after,
.sliderlens-horiz-handle1.flare::after,
.sliderlens-horiz-handle2.flare::after,
.sliderlens-vert-handle.flare::after,
.sliderlens-vert-handle1.flare::after,
.sliderlens-vert-handle2.flare::after,

.sliderlens-horiz-fixedhandle.flare2::after,
.sliderlens-vert-fixedhandle.flare2::after,
.sliderlens-horiz-handle.flare2::after,
.sliderlens-horiz-handle1.flare2::after,
.sliderlens-horiz-handle2.flare2::after,
.sliderlens-vert-handle.flare2::after,
.sliderlens-vert-handle1.flare2::after,
.sliderlens-vert-handle2.flare2::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 2;
}

/* light lens flare pointing north */
.sliderlens-horiz-fixedhandle.flare::after,
.sliderlens-horiz-handle.flare::after,
.sliderlens-horiz-handle1.flare::after,
.sliderlens-horiz-handle2.flare::after {
    background-image: -moz-linear-gradient(top, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* W3C */
}
/* light lens flare pointing south */
.sliderlens-horiz-fixedhandle.S.flare::after,
.sliderlens-horiz-handle.S.flare::after,
.sliderlens-horiz-handle1.S.flare::after,
.sliderlens-horiz-handle2.S.flare::after {
    background-image: -moz-linear-gradient(bottom, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(bottom, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(bottom, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(bottom, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* IE10+ */
    background-image: linear-gradient(to top, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* W3C */
}
/* light lens flare pointing west */
.sliderlens-vert-fixedhandle.flare::after,
.sliderlens-vert-handle.flare::after,
.sliderlens-vert-handle1.flare::after,
.sliderlens-vert-handle2.flare::after {
    background-image: -moz-linear-gradient(left, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* W3C */
}
/* light lens flare pointing east */
.sliderlens-vert-fixedhandle.E.flare::after,
.sliderlens-vert-handle.E.flare::after,
.sliderlens-vert-handle1.E.flare::after,
.sliderlens-vert-handle2.E.flare::after {
    background-image: -moz-linear-gradient(right, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(right, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(right, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(right, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* IE10+ */
    background-image: linear-gradient(to left, rgba(225,225,225,.9) 0%, rgba(225,225,225,.5) 12%, rgba(225,225,225,0) 70%); /* W3C */
}
.sliderlens-horiz-handle1.flare::after {
    margin-right: 0;
}
.sliderlens-horiz-handle2.flare::after {
    margin-left: 0;
}
.sliderlens-vert-handle1.flare::after {
    margin-bottom: 0;
}
.sliderlens-vert-handle2.flare::after {
    margin-top: 0;
}

/* light lens flare 2 pointing north or south */
.sliderlens-horiz-fixedhandle.flare2::after,
.sliderlens-horiz-handle.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* W3C */
}
/* light lens flare 2 pointing north or south, for the leftmost handle in double sliders */
.sliderlens-horiz-handle1.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* W3C */
}
/* light lens flare 2 pointing north or south, for the rightmost handle in double sliders */
.sliderlens-horiz-handle2.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* W3C */
}
/* light lens flare 2 pointing west or east */
.sliderlens-vert-fixedhandle.flare2::after,
.sliderlens-vert-handle.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 49%, rgba(0,0,0,.2) 50%, rgba(0,0,0,.05) 95%); /* W3C */
}
/* light lens flare 2 pointing west or east, for the topmost handle in double sliders */
.sliderlens-vert-handle1.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.1) 100%); /* W3C */
}
/* light lens flare 2 pointing west or east, for the bottommost handle in double sliders */
.sliderlens-vert-handle2.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, rgba(0,0,0,.05) 95%); /* W3C */
}
.sliderlens-horiz-handle1.flare2::after {
    margin-right: 0;
}
.sliderlens-horiz-handle2.flare2::after {
    margin-left: 0;
}
.sliderlens-vert-handle1.flare2::after {
    margin-bottom: 0;
}
.sliderlens-vert-handle2.flare2::after {
    margin-top: 0;
}
