@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(vt323.woff) format('woff');
}

/* yellow range on hover state for horizontal sliders */
canvas.sliderlens-horiz.sliderlens-hover,
div.sliderlens-hover .sliderlens-horiz-fixedhandle canvas,
div.sliderlens-hover .sliderlens-horiz-handle canvas,
div.sliderlens-hover .sliderlens-horiz-handle1 canvas,
div.sliderlens-hover .sliderlens-horiz-handle2 canvas {
    background-image: -moz-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      -moz-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                      -webkit-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      -o-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      -ms-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      linear-gradient(to right, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%);
    -moz-animation: backhoverH .05s;
    -webkit-animation: backhoverH .05s;
    -o-animation: backhoverH .05s;
    animation: backhoverH .05s;
}

@-moz-keyframes backhoverH {
  0%   { background-image: -moz-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: -moz-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: -moz-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: -moz-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

@-webkit-keyframes backhoverH {
  0%   { background-image: -webkit-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: -webkit-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: -webkit-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: -webkit-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

@-o-keyframes backhoverH {
  0%   { background-image: -o-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: -o-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: -o-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: -o-linear-gradient(top, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

@keyframes backhoverH {
  0%   { background-image: linear-gradient(to bottom, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to right, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: linear-gradient(to bottom, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to right, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: linear-gradient(to bottom, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to right, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: linear-gradient(to bottom, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to right, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

/* yellow range on hover state for vertical sliders */
canvas.sliderlens-vert.sliderlens-hover,
div.sliderlens-hover .sliderlens-vert-fixedhandle canvas,
div.sliderlens-hover .sliderlens-vert-handle canvas,
div.sliderlens-hover .sliderlens-vert-handle1 canvas,
div.sliderlens-hover .sliderlens-vert-handle2 canvas {
    background-image: -moz-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      -moz-linear-gradient(top, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      -webkit-linear-gradient(top, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      -o-linear-gradient(top, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      -ms-linear-gradient(top, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* IE10+ */
    background-image: linear-gradient(to right, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%),
                      linear-gradient(to bottom, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); /* W3C */
    -moz-animation: backhoverV .05s;
    -webkit-animation: backhoverV .05s;
    -o-animation: backhoverV .05s;
    animation: backhoverV .05s;
}

@-moz-keyframes backhoverV {
  0%   { background-image: -moz-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: -moz-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: -moz-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: -moz-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -moz-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

@-webkit-keyframes backhoverV {
  0%   { background-image: -webkit-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: -webkit-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: -webkit-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: -webkit-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -webkit-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

@-o-keyframes backhoverV {
  0%   { background-image: -o-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: -o-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: -o-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: -o-linear-gradient(left, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           -o-linear-gradient(left, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

@keyframes backhoverV {
  0%   { background-image: linear-gradient(to right, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to bottom, hsl(60,10%,30%) 0%, hsl(60,10%,10%) 15%, black 50%, hsl(60,10%,10%) 85%, hsl(60,10%,30%) 100%); }
  33%  { background-image: linear-gradient(to right, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to bottom, hsl(60,30%,30%) 0%, hsl(60,30%,10%) 15%, black 50%, hsl(60,30%,10%) 85%, hsl(60,30%,30%) 100%); }
  66%  { background-image: linear-gradient(to right, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to bottom, hsl(60,60%,30%) 0%, hsl(60,60%,10%) 15%, black 50%, hsl(60,60%,10%) 85%, hsl(60,60%,30%) 100%); }
  100% { background-image: linear-gradient(to right, hsl(0,0%,24%) 40%, transparent 40%, transparent 50%, rgb(100,100,100) 54%, rgb(59,58,54) 58%, hsl(0,0%,24%) 100%), 
                           linear-gradient(to bottom, hsl(60,90%,30%) 0%, hsl(60,90%,10%) 15%, black 50%, hsl(60,90%,10%) 85%, hsl(60,90%,30%) 100%); }
}

/*
    /\
   /  \
  /    \
  |    |
  |____|  light lens flare pointing north with focus (gold light) */
div:focus .sliderlens-horiz-fixedhandle.flare::after,
div:focus .sliderlens-horiz-handle.flare::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at center bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* 
    /|
   / |
  /  |
  |  |
  |__|  light lens flare pointing north with focus (gold light), for the leftmost handle in double sliders */
div:focus .sliderlens-horiz-handle1.flare::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at right bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*
  |\
  | \
  |  \
  |  |
  |__|  light lens flare pointing north with focus (gold light), for the rightmost handle in double sliders */
div:focus .sliderlens-horiz-handle2.flare::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at left bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* ____
  |    |
  |    |
  \    /
   \  /
    \/    light lens flare pointing south, with focus (gold light) */
div:focus .sliderlens-horiz-fixedhandle.S.flare::after,
div:focus .sliderlens-horiz-handle.S.flare::after {
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at center top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* __
  |  |
  |  |
  \  |
   \ |
    \|  light lens flare pointing south with focus (gold light), for the leftmost handle in double sliders */
div:focus .sliderlens-horiz-handle1.S.flare::after {
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at right top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* __
  |  |
  |  |
  |  /
  | /
  |/    light lens flare pointing south with focus (gold light), for the rightmost handle in double sliders */
div:focus .sliderlens-horiz-handle2.S.flare::after {
    background-image: -moz-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(bottom, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to top, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at left top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*  _______
   /       |
  /        |
  \        |
   \_______|  light lens flare pointing west with focus (gold light) */
div:focus .sliderlens-vert-fixedhandle.flare::after,
div:focus .sliderlens-vert-handle.flare::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at right center, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*  ________
   /        |
  /_________|  light lens flare pointing west with focus (gold light), for the topmost handle in double sliders */
div:focus .sliderlens-vert-handle1.flare::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at right bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*__________
  \         |
   \________|  light lens flare pointing west with focus (gold light), for the bottommost handle in double sliders */
div:focus .sliderlens-vert-handle2.flare::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at right top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* _______
  |       \
  |        \
  |        /
  |_______/   light lens flare pointing east with focus (gold light) */
div:focus .sliderlens-vert-fixedhandle.E.flare::after,
div:focus .sliderlens-vert-handle.E.flare::after {
    background-image: -moz-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at left center, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* ________
  |        \
  |_________\  light lens flare pointing east with focus (gold light), for the topmost handle in double sliders */
div:focus .sliderlens-vert-handle1.E.flare::after {
    background-image: -moz-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at left bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* __________
  |         /
  |________/  light lens flare pointing east with focus (gold light), for the bottommost handle in double sliders */
div:focus .sliderlens-vert-handle2.E.flare::after {
    background-image: -moz-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -moz-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -webkit-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -o-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(right, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      -ms-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to left, rgba(255,255,255,.9) 0%, rgba(255,255,255,.5) 12%, rgba(255,255,255,0) 70%),
                      radial-gradient(ellipse at left top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}






/* Below the same rules as above, but now for flare2 */

/*
    /\
   /  \
  /    \
  |    |
  |____|  light lens flare 2 pointing north with focus (gold light) */
div:focus .sliderlens-horiz-fixedhandle.flare2::after,  
div:focus .sliderlens-horiz-handle.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(center bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at center bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* 
    /|
   / |
  /  |
  |  |
  |__|  light lens flare 2 pointing north with focus (gold light), for the leftmost handle in double sliders */
div:focus .sliderlens-horiz-handle1.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at right bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*
  |\
  | \
  |  \
  |  |
  |__|  light lens flare 2 pointing north with focus (gold light), for the rightmost handle in double sliders */
div:focus .sliderlens-horiz-handle2.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at left bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* ____
  |    |
  |    |
  \    /
   \  /
    \/    light lens flare 2 pointing south with focus (gold light) */
div:focus .sliderlens-horiz-fixedhandle.S.flare2::after,    
div:focus .sliderlens-horiz-handle.S.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(center top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at center top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* __
  |  |
  |  |
  \  |
   \ |
    \|  light lens flare 2 pointing south with focus (gold light), for the leftmost handle in double sliders */
div:focus .sliderlens-horiz-handle1.S.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at right top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* __
  |  |
  |  |
  |  /
  | /
  |/    light lens flare 2 pointing south with focus (gold light), for the rightmost handle in double sliders */
div:focus .sliderlens-horiz-handle2.S.flare2::after {
    background-image: -moz-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(left, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to right, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at left top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*  ________
   /        |
  /         |
  \         |
   \________|  light lens flare 2 pointing west with focus (gold light) */
div:focus .sliderlens-vert-fixedhandle.flare2::after,
div:focus .sliderlens-vert-handle.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(right center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at right center, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*  ________
   /        |
  /_________|  light lens flare 2 pointing west with focus (gold light), for the topmost handle in double sliders */
div:focus .sliderlens-vert-handle1.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(right bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at right bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/*__________
  \         |
   \________|  light lens flare 2 pointing west with focus (gold light), for the bottommost handle in double sliders */
div:focus .sliderlens-vert-handle2.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(right top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at right top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* ________
  |        \
  |         \
  |         /
  |________/   light lens flare 2 pointing east with focus (gold light) */
div:focus .sliderlens-vert-fixedhandle.E.flare2::after,
div:focus .sliderlens-vert-handle.E.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(left center, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 49%, rgba(255,255,255,.3) 50%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at left center, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* ________
  |        \
  |_________\  light lens flare 2 pointing east with focus (gold light), for the topmost handle in double sliders */
div:focus .sliderlens-vert-handle1.E.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -moz-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -webkit-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -o-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      -ms-radial-gradient(left bottom, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.05) 0%, rgba(255,255,255,.1) 100%),
                      radial-gradient(ellipse at left bottom, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}
/* __________
  |         /
  |________/   light lens flare 2 pointing east with focus (gold light), for the bottommost handle in double sliders */
div:focus .sliderlens-vert-handle2.E.flare2::after {
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -moz-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* FF3.6+ */
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -webkit-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -o-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      -ms-radial-gradient(left top, ellipse cover, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* IE10+ */
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,.15) 95%),
                      radial-gradient(ellipse at left top, rgba(240,218,54,.25) 5%,rgba(241,218,54,.05) 60%,rgba(250,241,174,0) 90%); /* W3C */
}

.sliderlens-horiz-handle span {
    background-color: black;
    border-radius: 5px;
    color: rgba(150,141,74,.6);
    display: inline-block;
    text-align: center;
    text-shadow: 0 0 6px rgba(255,255,0,.6);
    font-family: arial, 'VT323', cursive;
    font-size: 0.55em;
    position: absolute;
    left: 2px;
    right: 3px;
    bottom: 2px;
}

 